.infrastructure {
  @media screen and (min-width: 768px) {
    background: url(/images/bg-pattern-circles.svg),
      linear-gradient(to right bottom, #2d2e40, #3f4164);
    height: 400px;
    background-repeat: no-repeat;
    background-position: left -230px bottom -100px, center center;
    background-size: 1000px, 100%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      margin-top: -70px;
      width: 550px;
    }

    &__content {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
      }
      p {
        font-size: 18px;
        color: rgb(206, 206, 206);
        line-height: 1.5;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 200px;
    background: url(/images/bg-pattern-circles.svg),
      linear-gradient(to right bottom, #2d2e40, #3f4164);
    height: 627px;
    background-repeat: no-repeat;
    background-position: top -250px center, center center;
    background-size: 580px, 100%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    img {
      transform: translate(-15px, -155px);
      /* width: 350px; */
    }

    &__content {
      text-align: center;
      margin-top: -200px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        line-height: 1.7;
      }
      p {
        font-size: 17px;
        color: rgb(206, 206, 206);
        line-height: 1.6;
      }
    }
  }
}
